{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
{% load custom_tags %}
{% load cache %}
{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
{{ news|length }}

<hr>
    {% if news %}
        <table>
            {% cache 300 table %}
            <tr>
                <td> Заголовок </td>
                <td> Дата </td>
                <td> Содержание </td>
                {% if perms.NewsPaper.change_news or perms.NewsPaper.delete_news %}
                <td>Действия</td>
                {% endif %}
            </tr>
            {% endcache %}
            {% for new in news %}
            <tr>
                <td>{{ new.title|censor }}</td>
                <td>{{ new.dateCreation|date:'d M Y'}}</td>
                <td>{{ new.text|truncatechars:20 }}</td>
                <td>

                    {% if perms.NewsPaper.change_news %}
                    <a href="{% url 'news_edit' pk=new.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.simpleapp.delete_product %}
                    <a href="{% url 'news_delete' pk=new.id %}">Удалить</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}

         </table>
   {% else %}
       <h2> Сегодня нет новостей </h2>
   {% endif %}
 {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
    {% endif %}

{% endblock content %}