{% extends 'flatpages/default.html' %}
{% load cache %}

{% block content %}
<h1>Поиск новости</h1>
<hr>
<form method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>
{% if news_search %}
        <table>
            {% cache 300 table %}
            <tr>
                <td> Заголовок </td>
                <td> Дата </td>
                <td> Содержание </td>
            </tr>
            {% endcache %}
            {% for new in news_search %}
            <tr>
                <td>{{ new.title }}</td>
                <td>{{ new.dateCreation|date:'d M Y'}}</td>
                <td>{{ new.text|truncatechars:20 }}</td>
            </tr>
            {% endfor %}

         </table>
        {% endif %}
{% endblock content %}